body {
    background: url("https://uploads3.wikiart.org/00245/images/57726d7fedc2cb3880b4805e/creaci-n-de-ad-n.jpg!Large.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#box1 {
    margin: auto;
    width: 35%;
    border: 10px solid rgb(0, 0, 0);
    color: rgb(240, 250, 255);
    text-align: center;
    font-size: 40px;
    background-color: rgb(0, 19, 41);
}

@keyframes my-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.run-animation {
    position: relative;
    animation: my-animation 240ms ease;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    margin: auto;
    width: 60%;
}

button {
    margin: auto;
    width: 20%;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    cursor: pointer;
}


button:active {
    box-shadow: 0 0 21px rgb(0, 0, 0);
    background-color: brown;
    color: white;
}