#box {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#textbox {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 151, 151);
    align-items: flex-end;
}

#hand2 {
    position: relative;
}

#hand1 {
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#hands {
    flex-direction: column;
    display: flex;
    border: 10px solid rgb(0, 0, 0);
    color: rgb(240, 250, 255);
    text-align: center;
    font-size: 40px;
    background-color: rgb(182, 166, 93);
    align-items: flex-end;
}

.hover:hover {
    cursor: pointer;
    transition: all 0.1s ease;
    transform: scale(1.2);
}


.hover:active {
    cursor: pointer;
    transition: all 0.1s ease;
    transform: scale(1.6);
}