#boxb {
    display: flex;
}


#box {
    margin: auto;
    width: 15%;
    text-align: center;
    font-size: 40px;
}

h1,
h3 {
    text-align: center;
}

input,
button {
    text-align: center;
    margin-top: 30px;
    width: 80%;
    font-size: 40px;
    color: rgb(0, 0, 0)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}