body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 80px;
    height: 80px;
    border: none;
    background-color: #eee;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 3px #999;
    transition: box-shadow 0.2s ease-in-out;
}

span {
    width: 80px;
    height: 80px;
    background-color: #eee;
    font-size: 40px;
    box-shadow: 0 3px #999;
    text-align: center;
    padding-top: 10%;
}

.plus {
    border-radius: 50% 0 0 50%;
}

.minus {
    border-radius: 0 50% 50% 0;
}

.counter {
    margin: 0 4px;
    font-size: 50px;
    border-radius: 10% 10% 10% 10%;
}

button:hover {
    box-shadow: 0 5px #666;
}

button:active {
    box-shadow: none;
    transform: translateY(3px);
}