#box {
    display: flex;
}


#innerbox {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

input,
button {
    height: 10vh;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    font-size: 40px;
    color: rgb(0, 0, 0)
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}